body{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
}

body header h1{
    text-align: center;
    text-shadow: 1px 1px 10px black;
}

/* Főleg index */
#indexBody{
    background-color: rgba(131, 3, 3, 0.938);
}

#indexMain{
    display: grid;
    grid-template-areas: 
    "he he he he"
    "be be be be"
    "ar ar ar as"
    "fo fo fo fo"
    ;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 100%;
}

#keresGomb{
    background-color: lightgreen;
    padding-left: 20px;
    padding-right: 20px;
    font-size: medium;
    margin-right: 15px;
    margin-left: 15px;
    font-size: large;
}

#indexBeker{
    grid-area: be;
}

#termekekArticle{
    float: left;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-area: ar;
    width: 90%;
}

#termekekArticle .termekekKartya{
    margin-left: auto;
    margin-right: 20px;
}

#kosarAside{
    grid-area: as;
    display: block;
    align-items: center;
    background-color: rgb(45, 45, 45);
    border: 5px solid rgb(30, 30, 30);
    border-radius: 10px;
    margin: 10px;
    margin-right: auto;
    margin-left: auto;
    max-width: 400px;
    width: 300px;
    opacity: 95%;
}

#kosarCim{
    text-align: center;
    color: rgb(223, 222, 222);
    text-shadow: 1px 1px 4px black;
    border: 1px double black;
    margin: auto;
    background-color: rgba(12, 12, 12, 0.854);
    border-radius: 5px;
}

.termekekKartya{
    max-width: 290px;
    min-width: 290px;
    height: 430px;
    border: 5px outset black;
    align-items: center;
    padding: 15px;
    border-radius: 10px;
    margin: 10px;
    box-shadow: 1px 1px 5px black;
    background-color: rgba(59, 59, 59, 0.774);
    transition-duration: 0.4s;
}

.termekekKartya:hover{
    transition-duration: 0.3s;
    background-color: rgba(32, 31, 31, 0.774);
    opacity: 90%;
}

.termekKep{
    width: 100%;
    height: 60%;
    border-radius: 10px;
    box-shadow: 1px 1px 5px black;
    opacity: 95%;
}

#indexKeresoAllapotGomb{
    margin: 0px;
    float: left;
    padding: 10px;
    width: 50px;
    border: 1px solid black;
}

.kozeptxt{
    text-align: center;
    margin: 7px 0px 7px 0px;
}

.termekCim{
    color: white;
}

.termekAr{
    float: left;
    color: white;
}

.kosarbaGomb{
    float: right;
    margin: 10px;
    margin-right: 0px;
    padding: 10px;
    border-radius: 10px;
    transition-duration: 0.5s;
}

.kosarbaGomb:hover{
    transition-duration: 0.3s;
    background-color: gray;
}

/* Főleg admin */

#adminBody{
    background-color: rgb(69, 69, 69);
}

.feluletValto{
    display: block;
    text-decoration: none;
    padding: 10px 30px;
    border: 5px solid rgba(180, 1, 1, 0.774);
    border-right: 5px solid rgb(30, 30, 30);
    border-bottom: 5px solid rgb(30, 30, 30);
    background-color: rgb(43, 41, 41);
    color: white;
    border-radius: 15px;
    text-align: center;
    margin: auto;
    width: 10%;
    box-shadow: 1px 1px 10px black;
}

#adminMain{
    margin: auto;
    margin-top: 7.5px;
    padding: 15px;
    width: 80%;
    max-width: 1200px;
    min-width: 900px;
    background-color: rgba(180, 1, 1, 0.774);
    border-radius: 20px;
    box-shadow: 2px 2px 10px rgb(20, 20, 20);
    border: 5px rgb(50, 50, 50) solid;
    color: white;
}

header{
    margin: 10px;
    grid-area: he;
    color: white;
}

form{
    margin: 10px;
}

.tablazatFelettiAdatBeker{
    margin:auto;
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    font-size: large;
}

.tablazatFelettiAdatBeker label, .tablazatFelettiAdatBeker text, .tablazatFelettiAdatBeker select{
    padding: 7px 5px;
    margin: 0px 5px;
    text-align: center;
}

.tablazatFelettiAdatBeker label{
    text-align: left;
}

.tablazatFelettiAdatBeker select{
    border: 2px inset black;
    max-height: 35px;
}

.tablazatFelettiAdatBeker > *{
    border-radius: 10px;
    max-height: 35px;
    display: block;
    align-content: center;
}

.arMinMax{
    width: 75px;
    padding: 0px 5px;
    margin-left: 10px;
    max-height: 35px;
}

#kereso{
    border-radius: 10px;
    font-size: medium;
}

.tablazatFelettiAdatBeker label{
    margin-left: 20px;
    margin-right: 0px;
} 

#adminTablazat{
    margin: auto;
    border-collapse: collapse;
    width: 90%;
    font-size: larger;
    min-width: 800px;
}

#adminTablazat tr:nth-child(even){
    background-color: rgb(194, 194, 194);
    color:black;
}

#adminTablazat tr:nth-child(odd){
    background-color: rgb(242, 241, 241);
    color:black;
}

#adminArticle{
    background-color: rgb(174, 174, 174);
    padding: 15px;
    width: 95%;
    margin: auto;
    border-radius: 10px;
    box-shadow: 1px 1px 5px black;
}

#adminTablazat tr{
    display: grid;
    grid-template-columns: 30% 20% 20% 15% 15%;
}

#adminTablazat th{
    border-top: 3px solid rgb(0, 0, 0);
    border-bottom: 3px solid rgb(0, 0, 0);
    padding: 5px;
    background-color: rgb(43, 41, 41);
    color:white;
}

#adminTablazat td{
    border-right: 1px gray solid;
    padding: 5px;
    font-size: medium;
}

#adminTablazat td:nth-last-child(1){
    text-align: center;
    color: rgb(1, 57, 1);
}

footer{
    text-align: center;
    grid-area: fo;
}



/* R E S Z P O N Z I V I T Á S */


@media screen and (max-width: 1000px) {
    .feluletValto{
        float: left;
        display: block;
        width: 90px;
        padding: 10px 0px;
        /* Mert ráragadna a main-re */
    }

    #adminMain{
        margin-top: 50px;
    }
 
}

@media screen and (max-width: 1400px) {
    #termekekArticle{
        grid-template-columns: 1fr 1fr;
    }
    
    #indexMain{
        grid-template-areas: 
        "he he he"
        "be be be"
        "ar ar as"
        "fo fo fo"
        ;
        grid-template-columns: 1fr 1fr 1fr;
        width: 100%;
    }
 
}

@media screen and (max-width: 1150px) {
    #termekekArticle{
        grid-template-columns: 1fr;
    }
 
    #indexMain{
        grid-template-areas: 
        "he he"
        "be be"
        "ar as"
        "fo fo"
        ;
        grid-template-columns: 1fr 1fr;
        width: 100%;
    }

    #termekekArticle, #kosarAside{
        width: 100%;
    }

    #termekekArticle .termekekKartya{
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (max-width: 950px) {
    .tablazatFelettiAdatBeker{
        grid-template-columns: 1fr;
        width: 100%;
        margin: auto;
        text-align: center;
    }

    #indexBeker > *, #adminBeker > *{
        margin: auto;
    }

    .tablazatFelettiAdatBeker > *{
        height: 50px;
        margin: auto;
    }

    #indexMain{
        width: 100%;
    }

    #kosarAside{
        width: 70%;
    }
}

@media screen and (max-width: 735px) {
    #termekekArticle .termekekKartya{
        margin: auto;
        margin-top: 15px;
        margin-bottom: 15px;
        width: 90%;
    }
    
    #indexMain{
        max-width: 700px;
        grid-template-areas: 
        "he"
        "be"
        "ar"
        "as"
        "fo"
        ;
        grid-template-columns: 1fr;
        margin: auto;
    }   

    #kosarAside{
        min-height: 400px;
        max-width: 60%;
        margin: auto;
    }
 
}

@media screen and (max-width: 435px) {    
    #indexMain{
        width: 100%;
        margin: 0px;
    }

    #indexBody{
        margin: 0px;
    }

    #kosarAside{
        max-width: 100%;
    }

}